<ion-card>
  <ion-card-header>

    <ion-card-title>{{delivery.order.customer.firstName}}</ion-card-title>

  </ion-card-header>

  <ion-card-content >
    <div >{{delivery.order.destinationAddress | json}}</div>
    <div >
      <ion-button color="info" fill="outline">
        <ion-icon slot="start" name="timer"></ion-icon>
        {{delivery.pickupTimestamp}}
      </ion-button>
      <ion-button color="danger" fill="outline">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>

</ion-card>
