<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Livraisons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Livraisons</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <app-card-item  *ngFor="let delivery of (deliveries$ | async)" [delivery]="delivery"></app-card-item>


  </ion-list>
</ion-content>
