<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="delivery">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Livraisons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Livraison en cours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
