<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Localisation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Localisation</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    
  </ion-card>
</ion-content>
